@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.Streetname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.Streetname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.HouseNumber)
        </dd>
    </dl>

    <h5>Opening times</h5>
    <br />
    <table>
        <tr>
            <td><b>Monday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.MondayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.MondayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Tuesday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.TuesdayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.TuesdayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Wednesday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.WednesdayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.WednesdayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Thursday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.ThursdayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.ThursdayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Friday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.FridayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.FridayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Saturday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.SaturdayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.SaturdayClosingTime)
            </td>
        </tr>
        <tr>
            <td><b>Sunday</b></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Store.WeekOpeningTimes.SundayOpeningTime) &nbsp;-&nbsp; @Html.DisplayFor(model => model.Store.WeekOpeningTimes.SundayClosingTime)
            </td>
        </tr>
    </table>
    <br />
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
