@page
@model WebWinkelIdentity.Web.Areas.Logistics.Pages.AllStockChangesModel

@{
    ViewData["Title"] = "AllStockChanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllStockChanges</h1>

<p>
    <a asp-page="AddStock" style="font-size:25px">Add</a>
    <a style="font-size:25px">&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;</a>
    <a asp-page="RemoveStock" style="font-size:25px">Remove</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].StoreProduct.Store.Address.City)
            </th>
            <th>
                Change
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].DateChanged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].AssociatedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].StoreProduct.Product.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].StoreProduct.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].StoreProduct.Product.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStockChange[0].StoreProduct.Product.Price)
            </th>
            <th>
                Category
            </th>
            <th>
                Brand
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductStockChange) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Store.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChanged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProduct.Product.Brand.Name)
            </td>
            <td>
                <a asp-area="ProductsManagement" asp-page="./Details" asp-route-id="@item.StoreProduct.ProductId">Details</a>
                @if (User.IsInRole("Admin"))
                {
                <a>|</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
