@page
@model WebWinkelIdentity.Web.Areas.Logistics.Pages.ConfirmAddStockModel
@{
    ViewData["Title"] = "Confirm stock changes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to make the following changes?</h2>
<h4 style="color:red">@Model.FormResult</h4>
<br />
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Store.Address.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreProducts[0].Product.Category)
                </th>
                <th>
                    <b>Stock Added</b>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoreProducts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Brand.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Category.Name)
                    </td>
                    <td>
                        <b>@Model.AllTextDataList.Where(adat => adat == item.ProductId).Count()</b>
                    </td>
                    @*<td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="ProductsManagement" asp-page="./EditStocks"
                               asp-route-id="@item.Id">EditStocks</a>
                            <a>|</a>
                        }
                        <a asp-area="ProductsManagement" asp-page="./Details"
                           asp-route-id="@item.Id">Details</a>
                    </td>*@
                </tr>
            }
        </tbody>
        @for (int i = 0; i < Model.AllTextDataList.Count(); i++)
        {
            @Html.HiddenFor(model => Model.AllTextDataList[i])
        }
        @for (int i = 0; i < Model.StoreProducts.Count(); i++)
        {
            @Html.HiddenFor(model => Model.StoreProducts[i].Id)
            @Html.HiddenFor(model => Model.StoreProducts[i].InTransport)
            @Html.HiddenFor(model => Model.StoreProducts[i].ProductId)
            @Html.HiddenFor(model => Model.StoreProducts[i].Quantity)
            @Html.HiddenFor(model => Model.StoreProducts[i].StoreId)
            @Html.HiddenFor(model => Model.PostStoreId)
        }
    </table>
    <div class="form-group">
        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
